@use "./mixins" as *;
.container {
  max-width: var(--max);
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  max-width: var(--max);
  margin: 0 auto;
  padding: 40px 20px;
}

.grid {
  display: grid;
  gap: 16px;
}

.grid--cards {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}


.grid--cards {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  @include md {
    grid-template-columns: 1fr;
  }
}
